@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketForms.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;
@AssigDataModel(Model)
<!--inject-->

<div class="w3-content w3-xlarge w3-pale-blue w3-padding " style="max-width:1200px">
    @HtmlOf(moduleData.GetSetting("emailsentmessage" + sessionParams.CultureCode))
</div>
<div class="w3-row w3-large w3-padding w3-center " style="max-width:1200px">
    <div class="w3-button w3-padding w3-blue " onclick="window.location.reload(true)">@ResourceKey("RocketForms.ok")</div>
</div>

    if (DNNrocketUtils.GetCurrentLanguageCode() != "en")
    {
<script type="text/javascript" src="/DesktopModules/DNNrocket/js/localization/messages_@(DNNrocketUtils.GetCurrentLanguageCode()).js"></script>
    }


