@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->

<div id="rocketblogdisplay" style="position:relative;top:-165px;"></div>

<div id="rocket-blog">
    @{
        if (articleData != null)
        {
            <text>
                [INJECT: apptheme, ArticleDetail.cshtml]
            </text>
        }
        else
        {
            <text>
                [INJECT: apptheme, ArticleList.cshtml]
            </text>
        }
    }
</div>
<div class="simplisity_loader" style="display:none;">
    <span class=" simplisity_loader_inner">
    </span>
</div>
