@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@{
    var productData = (ProductLimpet)Model.GetDataObject("productdata");
    var productDataList = (ProductLimpetList)Model.GetDataObject("productlist");
    var companyData = (CompanyLimpet)Model.GetDataObject("companydata"); ;
    var cartData = (CartLimpet)Model.GetDataObject("cartdata");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeDefault = (AppThemeLimpet)Model.GetDataObject("appthemedefault");
    var categoryDataList = (CategoryLimpetList)Model.GetDataObject("categorylist");
    var moduleSettings = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var categoryData = (CategoryLimpet)Model.GetDataObject("categorydata");
    AddProcessDataResx(appTheme, true);
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerceAPI/App_LocalResources/");
}

<!-- !PAGE CONTENT! -->
<div id="ecommerce-tag" class="ecommerce-container">
    @{ 
        if (productData != null)
        {
            [INJECT: appthemeview, ProductDetail.cshtml]
        }
        else
        {
            [INJECT: appthemeview, ProductList.cshtml]
        } 
     }
</div>
<div class="simplisity_loader" style="display:none;">
    <span class=" simplisity_loader_inner">
    </span>
</div>
<script>
    $(document).ready(function () {
        $('#ecommerce-tag').activateSimplisityPanel();
        $('#simplisity_loader').hide();
    });
</script>

