@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeAdmin, true)
<!--inject-->

<a href="http://manager.rocket-cds.org/Aides-aux-modules/Links" title="@ResourceKey("DNNrocket.help")" target="_blank" class="w3-button w3-circle w3-blue">?</a>

<div class="w3-row">
    [INJECT:appthemesystem,ArticleHeader.cshtml]
</div>
<div class="w3-row">
    [INJECT:appthemeadmin,AdminRow.cshtml]
</div>
