@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketDirectoryAPI.Components;
@using DNNrocketAPI.Components;
@AssigDataModel(Model)
<!--inject-->
@{
    var info = new SimplisityInfo();
    if (categoryData.Info != null)
    {
        info = categoryData.Info;
    }
}

<div class="w3-row w3-padding">
    @CKEditor4(info, "genxml/lang/genxml/textbox/richtext",true)
</div>

<script>
    $(document).ready(function () {
    });
</script>
