@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using RocketDirectoryAPI.Components;
@using DNNrocketAPI.Components;
@AssignDataModel(Model)
<!--inject-->

<div id="articledisplay" style="position:relative;top:-165px;"></div>

<div class="containerouter">
    <div class="w3-section containerinner">
        @if (articleData != null)
        {
            <div id="articlelistdisplay" class="w3-row">
                [INJECT:apptheme,ArticleDetail.cshtml]
            </div>
        }
        else
        {
            <div id="articlelistdisplay" class="w3-row">
                [INJECT:apptheme,ArticleList.cshtml]
            </div>
        }
    </div>
</div>

<div class="w3-overlay simplisity_loader" style="z-index:999;"></div>
