.heroheaderouter{overflow: auto;}
.heroheaderinner{padding-top: 56%;}/* standard 16:9 ratio on mobile */
.heroheaderbackground{background: #0000002e;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
.heroheaderimage{}
.heroheadertitle h1{font-size: 50px;text-align: center;}
.heroheadertitle h2{font-size: 22px;text-align: center;}
.heroheaderquicktext{}

/* Phone */
@media (min-width: 0) and (max-width: 600px) {
.heroheadertitle h1{font-size: 32px;margin: 0;}
.heroheadertitle h2{font-size: 16px;margin: 0;}
}

/* Phone and Tablet */
@media (min-width: 0) and (max-width:991px) {

}

/* Desktop */
@media (min-width: 992px) { 

}

/* Widescreen */
@media (min-width: 1200px) { 

}
