@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<div class="w3-row w3-padding">
    <label>@ResourceKey("DNNrocket.document")</label>
    [INJECT:appthemesystem,ArticleDocuments.cshtml]
</div>
