@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeAdmin, true)
<!--inject-->
<!-- require Key for saving -->
@RowKey(rowData)

<div class='w3-row w3-padding'>
    [INJECT:appthemesystem,ArticleDocuments.cshtml]
</div>
