@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
<!--inject-->
@if (info.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
{
    <p class="@moduleData.GetSetting("titlesize") w3-padding">
        @BreakOf(info.GetXmlProperty("genxml/lang/genxml/textbox/title"))
    </p>
}
@if (info.GetXmlProperty("genxml/lang/genxml/textbox/text") != "")
{
    <p class="@moduleData.GetSetting("textsize") w3-padding">
        @info.GetXmlProperty("genxml/lang/genxml/textbox/text")
    </p>
}
