@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using RocketEventsAPI.Components;
@using System.Globalization;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
<div id="calmonthwrapper@(moduleData.ModuleId)" style="padding-right:8px;padding-left:8px;padding-top:@(moduleData.GetSetting("toppadding"))px;padding-bottom:@(moduleData.GetSetting("bottompadding"))px;">
    [INJECT:apptheme,CalendarDisplay.cshtml]
</div>

<script>
    function getMonthCalendar(yearDate, monthDate) {
        $('#calmonth@(moduleData.ModuleId)').css({ 'opacity': 0.5 });
        $('#calmonthwrapper@(moduleData.ModuleId)').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'remote_publiclist', '{"disablecache":"true","moduleref":"@(moduleData.ModuleRef)","moduleid":"@(moduleData.ModuleId)","cmdtype":"satellite","basesystemkey":"rocketdirectoryapi","systemkey":"rocketeventsapi","template":"CalendarDisplay.cshtml","calyear":"' + yearDate + '","calmonth":"' + monthDate + '"}', '')
    }
    function getMonthCalendarDetail(d) {
        $('.a-dayselect').hide();
        $('.a-day' + d).show();
        $('#calmonthdetailmodel@(moduleData.ModuleId)').show();
    }
    function showcalmonthdetailmodel@(moduleData.ModuleId)() {
        $('#calmonthdetailmodel@(moduleData.ModuleId)').show();
        $('#calmonth@(moduleData.ModuleId)').css({ 'opacity': 1 });
    }
</script>
