@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using RocketEventsAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->

<div id="rocketeventsdisplay" style="position:relative;top:-165px;"></div>

<div class="w3-content" style="max-width:1400px;">
    <div id="rocket-events" class="w3-padding-small">
        @if (articleData != null)
        {
            <text>
                [INJECT: apptheme, ArticleDetail.cshtml]
            </text>
        }
        else
        {
            <text>
                [INJECT: apptheme, ArticleList.cshtml]
            </text>
        }
    </div>
</div>
<div class="simplisity_loader" style="display:none;">
    <span class=" simplisity_loader_inner">
    </span>
</div>
<script>
    $(document).ready(function () {
        events_pageLoad('w3-theme-l3');
    });
</script>

