@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using RocketEventsAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->

<div id="rocketeventsdisplay" style="position:relative;top:-165px;"></div>

<div id="rocket-events">
    @if (articleData != null)
    {
        <text>
            [INJECT: apptheme, ArticleDetail.cshtml]
        </text>
    }
    else
    {
        <text>
            [INJECT: apptheme, ArticleList.cshtml]
        </text>
    }
</div>
<div class="simplisity_loader" style="display:none;">
    <span class=" simplisity_loader_inner">
    </span>
</div>
